@import '../../../styles/styles.scss';

.title__wrapper {
  position: absolute;
  top: 10rem;
  left: 20rem;

  @media (max-width: $breakpoint-large) {
    top: 6rem;
    left: 14rem;
  }

  @media (max-width: $breakpoint-small) {
    top: 10rem;
    left: 3rem;
  }

  .title {
    font-family: $font-title;
    font-size: 4rem;
    font-weight: 500;
    transform: translateY(-1rem);

    @media (max-width: $breakpoint-small) {
      font-size: 3rem;
    }

    @media (max-width: $breakpoint-extra-small) {
      font-size: 3rem;
    }
  }

  .count {
    color: $accent;
    text-transform: uppercase;
  }
}

.notifications {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(10rem);
}

.canvas__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
