@import '../../../styles/styles.scss';

.create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-family: $font-title;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.intro {
  max-width: 40rem;
  margin-bottom: 5rem;
}

.label {
  width: 40rem;
}

.button {
  margin-top: 2rem;
  align-self: flex-start;
}

.title,
.intro,
.label,
.button {
  transform: translateY(15rem);
  opacity: 0;
}
