@import '../../../styles/styles.scss';

.create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: main;

  @media (max-width: $breakpoint-small) {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    display: flex;
  }

  .title {
    font-family: $font-title;
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 3rem;
    line-height: 1.5;

    @media (max-width: $breakpoint-medium) {
      font-size: 5.6rem;
    }

    @media (max-width: $breakpoint-small) {
      font-size: 5rem;
    }

    @media (max-width: 500px) {
      font-size: 3.7rem;
    }
  }

  .intro {
    max-width: 40rem;
    margin-bottom: 5rem;

    @media (max-width: $breakpoint-medium) {
      margin-bottom: 3rem;
    }
  }

  .form {
    @media (max-width: $breakpoint-small) {
      width: 100%;
    }
  }

  .label {
    width: 40rem;
    margin-top: 3rem;

    @media (max-width: $breakpoint-small) {
      width: 100%;
    }
  }

  .button {
    margin-top: 2rem;
    align-self: flex-start;

    @media (max-width: $breakpoint-small) {
      margin: 0 auto;
    }
  }

  .title,
  .intro,
  .label,
  .button {
    transform: translateY(15rem);
    opacity: 0;
  }

  .form {
    @media (max-width: $breakpoint-medium) {
      font-size: 5.6rem;
    }
  }
}
