@import '../../../styles/styles.scss';

.form__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  .form__title {
    margin-top: 3rem;
    margin-bottom: 7rem;
    font-size: 3rem;
    font-family: $font-title;
    text-align: center;
  }

  .form__cancel {
    color: $light;
    font-size: 1.6rem;
    display: block;
    margin: 2rem auto 0;
    font-family: $font-title;
    letter-spacing: 0.2rem;
  }
}

.form {
  .form__submit {
    display: block;
    margin: 8rem auto 0;
  }

  .form__buttons {
    justify-self: flex-end;
  }
}
