@import '../../../styles/styles.scss';

.form__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  .form__title {
    margin-top: 3rem;
    margin-bottom: 7rem;
    font-size: 3rem;
    font-family: $font-title;
    text-align: center;
  }

  .form__cancel {
    color: $light;
    font-size: 1.6rem;
    display: block;
    margin: 2rem auto 0;
    font-family: $font-title;
    letter-spacing: 0.2rem;
  }
}

.form {
  .form__submit {
    display: block;
    margin: 8rem auto 0;
  }

  .form__buttons {
    justify-self: flex-end;
  }

  .form__style {
    .style__title {
      @include title-accent;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-family: $font-title;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    .style__circles {
      display: flex;
      margin-bottom: 5rem;

      .circle {
        margin: 0 1rem 0 0;
        -webkit-appearance: none;
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid #464646;
        border-radius: 50%;
        outline: none;
      }

      .circleRed {
        background: $accent;
      }

      .circleBlue {
        background: $blue;
      }

      .circleGreen {
        background: $green;
      }

      .circleImage {
        background-size: cover;
      }

      .circleImageActive {
        border: 0.1rem solid $light;
        box-shadow: 0 0 1rem 0 rgba(8, 8, 8, 0.4) inset;
      }

      .circle:hover {
        box-shadow: 0 0 1.5rem 0 #1a1a1a;
        border: 0.1rem solid $light;
      }

      .circle:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .circle:checked:before {
        border: 0.1rem solid $light;
        box-shadow: 0 0 1rem 0 rgba(8, 8, 8, 0.4) inset;
      }

      .style__colors {
        display: flex;
      }

      .style__image {
        margin-left: 3rem;
        display: flex;
        align-items: center;

        p {
          margin-right: 1rem;
        }

        &::before {
          position: absolute;
          content: '';
          transform: translateX(-2rem);
          height: 3rem;
          width: 0.1rem;
          background: rgba(151, 151, 151, 0.4);
        }
      }
    }
  }
}
