@import '../../../styles/styles.scss';

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60rem;
  background: $dark;
  color: $light;
  padding: 8rem;
  transform: translateX(60rem);
  // border-radius:100% 0 0 100%;

  .close {
    margin-left: auto;
    position: absolute;
    top: 6rem;
    right: 6rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;

    &:before,
    &:after {
      position: absolute;
      content: ' ';
      height: 2.5rem;
      width: .1rem;
      background-color: $light;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
    
    // & span {
    //   display: block;
    //   height: 0.1rem;
    //   width: 100%;
    //   background: $light;
    //   transition-timing-function: ease;
    //   transition-duration: 0.5s;
    //   border-radius: 0;
    //   transform-origin: center;
    //   position: absolute;
    //   transform: translate3d(0, 0, 0) rotate(0);
    // }
  }

  .title {
    margin-top: 8rem;
    font-family: $font-title;
    font-size: 2rem;
    text-transform: uppercase;
    color: $accent;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-align: center;
  }

  .name {
    font-family: $font-title;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 8rem;
  }
}
