@import '../../../styles/styles.scss';
$spacing: 3rem;
$width: 50rem;

.sidebar__wrapper {
  // transform: translateX($width + $spacing);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(#{$width} + (#{$spacing} * 2));
  z-index: 10;
  padding: $spacing;

  .sidebar {
    height: 100%;
    width: 100%;
    transform: translateX(calc(#{$width} + (#{$spacing} * 2)));
    opacity: 0;
    background: $dark;
    color: $light;
    padding: 6rem;
    z-index: 12;
    border-radius: 0.7rem;
  }
}
