@import '../../../styles/styles.scss';

.header {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 10;
  width: $nav-large;
  background: $background;
  grid-area: header;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: $nav-small;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 0.1rem;
      background: $line;
      width: 100%;
      bottom: 0;
    }
  }

  & .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 5rem);
    padding: 2rem 0;

    @media (max-width: $breakpoint-small) {
      flex-direction: row;
      padding: 0 2.5rem 0;
    }
  }
}

.header__line {
  height: 0;
  width: 0.1rem;
  background: $line;

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.nav__icon {
  width: 2.4rem;
  height: 2.5rem;
  position: relative;
  transform: scale(1) rotate(0deg);

  @media (max-width: $breakpoint-small) {
    transform: scale(0.8);
  }

  & span {
    display: block;
    height: 0.1rem;
    width: 0;
    background: $light;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    border-radius: 0;
    transform-origin: center;
    position: absolute;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  & span:nth-of-type(2) {
    top: 9px;
  }

  & span:nth-of-type(3) {
    transform: translate3d(0, 1.8rem, 0) rotate(0);
    max-width: 75%;
  }
}

.volume {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    transform: scale(0.8);
  }

  .header__volume {
    height: 1.7rem;
    width: 1.7rem;
    transform: scale(0, 0);
  }

  .volume__line {
    position: absolute;
    background: $accent;
    height: 0;
    width: 0.2rem;
    transform: rotate(40deg);
  }
}
