@import '../../../styles/styles.scss';

.header {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 10;
  width: 8.5rem;
  // border-right: 0.1rem solid #3D584C;
  background: $background;
  // background: #112C23;

  & .header__content {
    // border-right: 0.1rem solid $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 5rem);
    padding: 2rem 0;
  }
}

.header__line {
  height: 0;
  width: 0.1rem;
  background: $line;
}

.nav__icon {
  width: 2.4rem;
  height: 2.5rem;
  position: relatve;
  transform: rotate(0deg);

  & span {
    display: block;
    height: 0.1rem;
    width: 0;
    background: $light;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    border-radius: 0;
    transform-origin: center;
    position: absolute;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  & span:nth-of-type(2) {
    top: 9px;
  }

  & span:nth-of-type(3) {
    transform: translate3d(0, 1.8rem, 0) rotate(0);
    max-width: 75%;
  }
}

.header__volume {
  height: 1.7rem;
  width: 1.7rem;
  transform: scale(0, 0);
}
