.noise {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.noise:after {
  -webkit-animation: noise2 1s steps(2) infinite;
  animation: noise2 1s steps(2) infinite;
  background-image: url('https://i.postimg.cc/yNJyHjnF/background-noise.png');
  background-position: 50%;
  content: '';
  height: calc(100vh + 20rem);
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: calc(100vw + 20rem);
  will-change: transform;
}

@-webkit-keyframes noise2 {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise2 {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}