@import 'styles/styles.scss';

.app {
  display: grid;
  grid-template: 1fr / #{$nav-large} 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas: 'header content';

  @media (max-width: $breakpoint-large) {
    grid-template: $nav-small 1fr / 1fr;
    grid-template-areas: 'header' 'content';
  }
}

::selection {
  color: $light;
  background: $accent;
}

video {
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  grid-area: content;
  padding-left: 15rem;
  display: grid;
  grid-template-areas: 'main';

  @media (max-width: $breakpoint-large) {
    padding-left: 0;
  }

  @media (max-width: $breakpoint-medium) {
    padding: 0 5rem;
  }

  @media (max-width: $breakpoint-small) {
    padding: 0 3.5rem;
  }

  @media (max-width: $breakpoint-extra-small) {
    padding: 0 2.5rem;
  }
}

.particles {
  position: fixed;
  height: 100%;
  background-size: cover;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.root div:last-of-type {
  height: 100%;
}

.noise {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  pointer-events: none;
  position: fixed;
  z-index: 100;
}

.noise:after {
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
  background-image: url('./assets/images/background-noise.png');
  background-position: 50%;
  content: '';
  height: calc(100vh + 20rem);
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: calc(100vw + 20rem);
  will-change: transform;
}

@-webkit-keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
