@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://use.typekit.net/lss8odf.css');
@import 'styles/styles.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: $font-copy;
  background: $background;
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  line-height: 2;
  font-weight: 300;
  color: $light;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  // margin: 0;
  // padding: 0;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // overflow: hidden;
}

// #root {
//   overflow: auto;
// }
