@import '../../../styles/styles.scss';

.add {
  grid-area: main;

  .add__text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    z-index: 10;
    text-shadow: 0 0 1.5rem rgba(63, 107, 169, 0.4);
    font-family: $font-title;
    color: $light;
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .add__title {
      @include title-large;
      line-height: 1.5;
      opacity: 0;

      @media (max-width: $breakpoint-small) {
        font-size: 3.8rem;
      }
    }

    .add__tagline {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      opacity: 0;

      @media (max-width: $breakpoint-small) {
        font-size: 1.6rem;
      }
    }

    .add_icon {
      margin-top: 7rem;
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}
