@import '../../../../styles/styles.scss';
$spacing: 3rem;
$width: 42rem;

.sidebar__wrapper {
  height: 100%;
  width: calc(#{$width} + (#{$spacing} * 2));
  z-index: 20;
  padding: $spacing;
  grid-area: main;
  margin-left: auto;
  position: relative;

  @media (max-width: $breakpoint-medium) {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50%;
    margin-top: auto;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .sidebar {
    position: absolute;
    right: $spacing;
    overflow-y: scroll;
    height: calc(100% - (#{$spacing} * 2));
    width: 100%;
    transform: translateX(calc(#{$width} + (#{$spacing} * 2)));
    opacity: 0;
    background: $dark;
    color: $light;
    padding: 6rem;
    border-radius: 0.7rem;
    user-select: none;

    @media (max-width: $breakpoint-medium) {
      border-radius: 2rem 2rem 0 0;
    }
    @media (max-width: $breakpoint-small) {
      padding: 4rem;
    }
    @media (max-width: $breakpoint-extra-small) {
      padding: 2.5rem;
    }
  }
}
