@import '../../../styles/styles.scss';

.buttons__wrapper {
  right: 5rem;
  bottom: 5rem;
  position: absolute;

  display: flex;
  align-items: center;

  .button {
    margin-left: 3rem;
    @include button;
  }
}
